a {
  color: #ff9900 !important;
  text-decoration: none;
  transition: color $animation-speed ease;

  &:hover {
    text-decoration: none;
    color: darken(#ff9900, 10%) !important;
  }
}

a.primary--text {
  color: #e5e9ec !important;
  caret-color: #f4f4f4 !important;
  }