@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
// font-family: 'Roboto Condensed', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
// font-family: 'Dosis', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
// font-family: 'Noto Sans', sans-serif;

// application
.v-application {

  font: 300 #{$base-font-size}/#{$base-line-height} $base-font-family;
  font-weight: 300;
}

// 

// expansion 
.v-expansion-panel-header{

  font-size: 1em;
  font-weight: 1000;
  
}

//credentials
#credentials {
  line-height: 150%;
  font-size: .8em;
}
#portpad {
  class: "mx-5";
  @media only screen and (max-width: 599px) {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
}
.projectavatar {
  @media only screen and (max-width: 599px) {
    size: 50;
  }
}

//panelspansion
.v-expansion-panel-content__wrap { padding: 0 !important; }

//word wrap
.fix {
  overflow-wrap: anywhere;
  word-wrap: break-word;
  word-break: normal;
  hyphens: auto;
}

// block
.block {
  padding: 60px 0;
  border-bottom: 1px solid darken($white, 10%);

  @media only screen and (max-width: 599px) {
    padding: 20px 0;
  }

  h2 {
    font-size: 30px;
    padding: 0 0 10px;
    margin: 0 0 40px;
    position: relative;

    @media only screen and (max-width: 599px) {
      font-size: 24px;
      padding: 0 0 5px;
      margin: 0 0 25px;
    }

    &:after {
      content: '';
      background: $black;
      width: 60px;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      @media only screen and (max-width: 599px) {
        width: 30px;
      }
    }
  }
}

// iframe
iframe {
  border: 0;

  @media only screen and (max-width: 599px) {
    height: 300px;
  }
}

// not found
.notFound .fas {
  font-size: 40px;
  margin: 0 0 40px;
}

.expimg {
  border: #ffffff 7px solid;
  display:block;
}

//v-card
.yeller {
  color: #fccf8c;
}
.bluer {
  color: #aaa6c9;
}
.v-card__title {
  font-size: 1.3rem !important;
  font-family: 'Roboto Condensed', sans-serif;
}
.v-card__text {
  font-family: 'Noto Sans', sans-serif;
  font-size: .8rem;
  line-height: 170%;
}
.v-card__subtitle {
  font-family: 'Noto Sans', sans-serif;
}

.footertext {
  font-size: .6rem;
  font-family: 'Noto Sans', sans-serif;
  line-height: 150%;
}