// footer
.v-footer {
  //background: $white !important;
  margin-left: 0px;
  margin-right: 0px;

  .v-card__text {
    @media only screen and (max-width: 599px) { 
      padding: 15px 0;
    }

    .v-btn {
      @media only screen and (max-width: 599px) { 
        margin: 55 25px !important;
      }
    }
  }
}