header {


  .v-toolbar__title {
    font-weight: 600;
    font-size: large;
    text-transform: uppercase;
    @media only screen and (max-width: 599px) {
      font-weight: 600;
      font-size: x-small;
    }
  }


  .v-toolbar__content {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-left: 0px;
    margin-right: 0px;

    @media only screen and (max-width: 599px) {
      padding: 1;
      
    }
  }
}

.portrait {
  width: 200px;
  float: left;
  border: 1px solid red;
}
.bio {
  width: auto;
  float: left;
  border: 1px solid red;
}


.mainHeader {
  .v-toolbar__items {
    .v-btn__content {
      a {
        color: $black;
      }
    }

    .v-btn {
      @media only screen and (max-width: 599px) {
        padding: 20 20 20 20px;
      }
    }
  }
}